# {{ ansible_managed }}
[Unit]
Description=socks proxy via ssh
After=network.target
[Service]
ExecStart=/usr/bin/ssh -v -N -D *:{{ socks_proxy_port }} -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no localhost
User={{ socks_proxy_user }}
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
