# {{ ansible_managed }}
[Unit]
Description=socks proxy via ssh
After=network.target
[Service]
ExecStart=/usr/bin/ssh -v -N -D {{ socks_proxy_port }} -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no localhost
[Install]
WantedBy=multi-user.target
