---
ansible_user: "{{ vault_ssh_user }}"

admin:
  name: "{{ vault_ssh_user }}"
  create_home: yes
  shell: /bin/bash
  authorized_keys:
    - "{{ vault_ssh_pubkey_t450 }}"
    - "{{ vault_ssh_pubkey_keychain }}"
    - "{{ vault_ssh_pubkey_desktop }}"
    - "{{ vault_ssh_pubkey_backup }}"
  sudo:
    commands: ALL
    runas: ALL:ALL

common_users:
  - "{{ admin }}"

sshd_config:
  PermitRootLogin: "no"
  PasswordAuthentication: "no"
  ChallengeResponseAuthentication: "no"
  UsePAM: "yes"
  Subsystem: "sftp /usr/lib/sftp-server"

wireguard_global_settings:
  wg0:
    peers:
      dedibox:
        pubkey: "{{ vault_wg0_dedibox_pubkey }}"
        endpoint: "{{ vault_wg0_dedibox_endpoint }}"
        allowedips:
          - "0.0.0.0/0"
          - "::/0"
        persistentkeepalive: 20
      wifibox:
        pubkey: "{{ vault_wg0_wifibox_pubkey }}"
        allowedips:
          - "{{ vault_wg0_wifibox_inet6_range }}"
      moviebox:
        pubkey: "{{ vault_wg0_moviebox_pubkey }}"
      backupbox:
        pubkey: "{{ vault_wg0_backupbox_pubkey }}"
      t450:
        pubkey: "{{ vault_wg0_t450_pubkey }}"
      op3t:
        pubkey: "{{ vault_wg0_op3t_pubkey }}"
      op8t:
        pubkey: "{{ vault_wg0_op8t_pubkey }}"
      firetv:
        pubkey: "{{ vault_wg0_firetv_pubkey }}"
    auto_assign_ranges:
      - 10.0.0.0/8
      - fd1a:6126:2887::/48
      - "{{ vault_wg0_global_inet6_range }}"
    mtu: 1360
    dns: "{{ vault_wg0_dns }}"

tvheadend_username: "{{ vault_tvheadend_username }}"
tvheadend_password: "{{ vault_tvheadend_password }}"

msmtp_forward_root_email: "{{ vault_msmtp_user }}+{{ ansible_hostname }}@gmail.com"
msmtp_msmtprc:
  - |
    defaults
    port 587
    tls on
    tls_trust_file /etc/ssl/certs/ca-certificates.crt
    account gmail
    host smtp.gmail.com
    from {{ vault_msmtp_user }}@gmail.com
    auth on
    user {{ vault_msmtp_user }}
    password {{ vault_msmtp_password }}
    account default : gmail
    aliases /etc/aliases

nftables_nftables_conf_head:
  - |
    flush ruleset
    table inet filter {
        chain input {
            type filter hook input priority 0; policy drop;
            ct state invalid counter drop comment "drop invalid"
            ct state {established, related} counter accept comment "already opened"
            iif lo accept comment "loopback"
            iif != lo ip daddr 127.0.0.1/8 counter drop comment "loopback must come from loopback"
            iif != lo ip6 daddr ::1/128 counter drop comment "loopback must come from loopback"
            ip protocol icmp counter accept comment "ICMP"
            ip6 nexthdr icmpv6 counter accept comment "ICMPv6"
            ip protocol udp udp sport 67 udp dport 68 counter accept comment "DHCP"
            ip6 nexthdr udp udp sport 547 udp dport 546 counter accept comment "DHCPv6"
            tcp dport 22 counter accept comment "SSH"
        }
        chain forward {
            type filter hook forward priority 0; policy drop;
        }
        chain output {
            type filter hook output priority 0; policy accept;
        }
    }
nftables_nftables_conf_tail:
  - |
    add rule inet filter input limit rate 2/minute log prefix "dropped input: "
    add rule inet filter input counter
    add rule inet filter forward limit rate 2/minute log prefix "dropped forward: "
    add rule inet filter forward counter
    add rule inet filter output counter
