#jinja2: lstrip_blocks: True
{% set net = item %}
{% set conf = wireguard[net] %}
[Interface]
PrivateKey = {{ conf.privkey }}
ListenPort = {{ conf.listenport }}
{% for peer in other_wireguard_hosts %}
    {% set peervars = hostvars[peer] %}
    {% if net in peervars.wireguard %}
        {% set peerconf = peervars.wireguard[net]%}

[Peer]
PublicKey = {{ peerconf.pubkey }}
AllowedIPs = {{ peerconf.allowed_ips }}
        {% if peerconf.public | default(false) %}
Endpoint = {{ peervars.ansible_host }}:{{ peerconf.listenport }}
PersistentKeepalive = 20
        {% endif %}
    {% endif %}
{% endfor %}
