[Interface]
PrivateKey = {{ wireguard.privkey }}
ListenPort = {{ wireguard.listenport }}

{% for peer in hostvars %}
{% if peer != inventory_hostname and "wireguard" in hostvars[peer] %}
[Peer]
PublicKey = {{ hostvars[peer].wireguard.pubkey }}
AllowedIPs = {{ hostvars[peer].wireguard.allowed_ips }}
{% if hostvars[peer].wireguard.public | default(false) %}
Endpoint = {{ hostvars[peer].ansible_host }}:{{ hostvars[peer].wireguard.listenport }}
{% endif %}
{% endif %}
{% endfor %}
