#jinja2: lstrip_blocks: True
[Interface]
PrivateKey = {{ conf.privkey }}
ListenPort = {{ conf.listenport }}
{% for peer in peers %}
    {% set peervars = hostvars[peer] %}
    {% if wgnet in peervars.wireguard %}
        {% set peerconf = peervars.wireguard[wgnet] %}

[Peer]
PublicKey = {{ peerconf.pubkey }}
AllowedIPs = {{ peerconf.allowed_ips }}
        {% if 'public_addr' in peerconf %}
Endpoint = {{ peerconf.public_addr }}:{{ peerconf.listenport }}
PersistentKeepalive = 20
        {% endif %}
    {% endif %}
{% endfor %}
