#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

[Interface]
PrivateKey = {{ conf.privkey }}
{% if 'listenport' in conf %}
ListenPort = {{ conf.listenport }}
{% endif %}
{% if not is_gw %}
{% if 'address' in conf %}
Address = {{ conf.address | join(', ')}}
{% endif %}
{% endif %}

{% for hostname, peervars in conf.peers | dictsort %}
    {% if hostname != inventory_hostname %}

[Peer]
PublicKey = {{ peervars.pubkey }}
        {% if 'allowedips' in peervars %}
AllowedIPs = {{ peervars.allowedips | join(', ') }}
        {% endif %}
        {% if 'endpoint' in peervars %}
Endpoint = {{ peervars.endpoint }}
        {% endif %}
        {% if 'persistentkeepalive' in peervars %}
PersistentKeepalive = {{ peervars.persistentkeepalive }}
        {% endif %}
    {% endif %}
{% endfor %}
