#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

[Interface]
PrivateKey = {{ conf.privkey }}
{% if 'listenport' in conf %}
ListenPort = {{ conf.listenport }}
{% endif %}
{% for peer in peers %}
    {% set peervars = hostvars[peer] %}
    {% if wgnet in peervars.wireguard %}
        {% set peerconf = peervars.wireguard[wgnet] %}

[Peer]
PublicKey = {{ peerconf.pubkey }}
        {% if 'out_gw' in peerconf %}
AllowedIPs = ::/0,0.0.0.0/0
        {% endif %}
        {% if 'in_gw' in peerconf and 'inet6_prefix' in peerconf.in_gw %}
AllowedIPs = {{ peerconf.in_gw.inet6_prefix }}::/{{ peerconf.in_gw.inet6_mask }}
        {% endif %}
        {% if 'public_addr' in peerconf %}
Endpoint = {{ peerconf.public_addr }}:{{ peerconf.listenport }}
PersistentKeepalive = 20
        {% endif %}
    {% endif %}
{% endfor %}
