server:
  num-threads: 4

  interface: {{ unbound.interface }}
  interface-automatic: no

  max-udp-size: 3072

  access-control: ::0/0                 refuse
{% for address in unbound.controllers %}
  access-control: {{ address }}         allow
{% endfor %}

{% if unbound.recursive | default(false) %}
  harden-glue: yes
  harden-dnssec-stripped: yes
  harden-referral-path: yes
  unwanted-reply-threshold: 10000000

  val-clean-additional: yes
  val-permissive-mode: yes
  val-log-level: 1
  prefetch-key: yes
{% endif %}

  cache-min-ttl: 1800
  cache-max-ttl: 14400
  prefetch: yes

{% if not unbound.recursive | default(true) }
forward-zone:
      name: "."
      forward-addr: {{ unbound.upstream }}
{% endif %}
