---
- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    create_home: "{{ item.create_home }}"
    shell: "{{ item.shell }}"
  loop: "{{ common_users }}"

- name: Set authorized keys
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    state: present
    exclusive: true
    key: "{{ item.authorized_keys | join('\n') }}"
  loop: "{{ common_users }}"

- name: Setup sudo
  community.general.sudoers:
    name: "promote-{{ item.name }}"
    user: "{{ item.name }}"
    commands: "{{ item.sudo.commands }}"
    runas: "{{ item.sudo.runas }}"
  loop: "{{ common_users }}"
  when: "'sudo' in item"

- name: Configure ssh
  ansible.builtin.import_role:
    name: reallyenglish.sshd

- name: Configure msmtp
  ansible.builtin.import_role:
    name: msmtp

- name: Install useful packages
  ansible.builtin.apt:
    name:
      - vim
      - tmux
      - plocate
      - unattended-upgrades
      - apt-listchanges
    state: present

- name: Ensure root gets mail from unattended-upgrades
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^Unattended-Upgrade::Mail'
    line: 'Unattended-Upgrade::Mail "root";'
    create: false
    state: present

#- name: Email root when storage is running low
#  copy:
#    src: files/etc/cron.daily/diskalert
#    dest: /etc/cron.daily/diskalert
#    owner: root
#    group: root
#    mode: '0755'
