---
- name: Create users
  ansible.builtin.user:
    name: "{{ item.username }}"
    create_home: yes
    shell: /bin/bash
  loop: "{{ users }}"

- name: Set authorized keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    state: present
    exclusive: true
    key: "{{ item.authorized_keys | join('\n') }}"
  loop: "{{ users }}"

- name: Setup sudoers
  community.general.sudoers:
    name: "promote-{{ item.name }}"
    state: present
    user: "{{ item.name }}"
    commands: "{{ item.promote }}"
    runas: "ALL"
  loop: "{{ promoted }}"

- name: Configure ssh
  include_role: name=reallyenglish.sshd

- name: Configure msmtp
  include_role: name=msmtp

- name: Install useful packages
  ansible.builtin.apt:
    name:
      - vim
      - tmux
      - mlocate
      - unattended-upgrades
      - apt-listchanges
    state: present

- name: Ensure root gets mail from unattended-upgrades
  lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    line: 'Unattended-Upgrade::Mail "root";'

#- name: Email root when storage is running low
#  copy:
#    src: files/etc/cron.daily/diskalert
#    dest: /etc/cron.daily/diskalert
#    owner: root
#    group: root
#    mode: '0755'
