---
- name: Install required packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - msmtp
    - msmtp-mta

- name: Configure /etc/msmtprc
  ansible.builtin.template:
    src: templates/etc/msmtprc.j2
    dest: /etc/msmtprc
    owner: root
    group: root
    mode: '0644'

#- name: Forwarding root's mail
#  ansible.builtin.lineinfile:
#    path: /root/.forward
#    create: true
#    line: "{{ msmtp_forward_root_email }}"

- name: Setting aliases
  ansible.builtin.template:
    src: templates/etc/aliases.j2
    dest: /etc/aliases
    owner: root
    group: root
    mode: '0644'
