interface wlan0 {
  IgnoreIfMissing on;
  AdvSendAdvert on;
  MaxRtrAdvInterval 300;
  AdvLinkMTU 1423;
  prefix {{ radvd.routed_ip6_block }}/{{ radvd.routed_ip6_blocksize}} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvValidLifetime 3600;
    AdvPreferredLifetime 1800;
  };
  RDNSS {{ radvd.routed_ip6_block }}1 {
    AdvRDNSSLifetime 1800;
  };
};
